/* Reset some default browser styles */
body, h1, p, ul {
  margin: 0;
  padding: 0;
}

/* Body */
body {
    background-color: #e4d8f3;
}

/*colors:#907cf4    #8e83a3  #bba0ee  #bba5e9   #cfecd8     */
/* Header */
header {
  position: fixed;
  background-color: #acacac;
  color: #000000;
  padding: 20px;
  text-align: center;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
header nav ul li{
  display: inline;
  margin-right: 0 50px;
}
header nav ul li:not(:last-child) {
  margin-right: 100px;
}

html{
  scroll-behavior: smooth;
}
a:hover {
  text-decoration: underline;
}


h1, h2{ 
  text-align: center;
}

p
{
  text-align: Left;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}
resume-container iframe{

  justify-content: center;

}
/* Main Content */
main {
  padding: 20px;
}

section {
  margin-bottom: 200px;
}
.resume-container {
  text-align:center;

}
.download-button {
  display: block;
  margin: 50pxauto; 
  background-color: #6a56ea;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.resume-container iframe {
  display: block;
  margin: 0 auto; /* Center the iframe horizontally */
}
iframe{
  max-width: 800px;
  width: 100%;
  display:flex;
  justify-content: center;

}
/* Footer */
footer {
  background-color: #acacac;
  color: #000000;
  padding: 10px;
  text-align: center;
}